[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

graphene = ">=2.0"
six = "*"

[dev-packages]

pytest = "*"
"autopep8" = "*"
snapshottest = "*"
twine = "*"
urllib3 = ">=1.24.2"
